body{
    background-color: #00005b;
    font-family: 'Lucida Sans Regular';
}

.selected{
    color: #fede59;
    font-weight: bold;
    font-family: 'Lucida Sans Regular';
    font-size: larger;
}

.Notselected{
    color: #004aad;
    font-weight: bold;
    font-family: 'Lucida Sans Regular';
    font-size: larger;
}

.standard{
    color: white;
    font-family: 'Lucida Sans Regular';
}

.bgd{
    background-color: #ebebfd;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}

.logo{
    width: 10%;
}