body{
    background-color: #00005b;
    font-family: 'Lucida Sans Regular';
}

.selected{
    color: #FFFF00;
    font-family: 'Lucida Sans Regular';
}

.Notselected{
    color: #0000ff;
    font-family: 'Lucida Sans Regular';
}

.standard{
    color: white;
    font-family: 'Lucida Sans Regular';
}

.bgd{
    background-color: #000022;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}